.main {
    height: calc(100% - var(--height-header-footer));
    padding: 0 var(--padding-x-global);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrappedForm {
    padding: 0 var(--padding-x-global) 0 10%;
    flex-grow: 1;
}

.wrappedCanvas {
    width: 60%;
    height: 100%;
    padding: 5%;
    box-sizing: border-box;
}